* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-body: 'Poppins', sans-serif;
  --ff-headings: 'Playfair Display', serif;
  --font-size-h1: clamp(1.5rem, -0.25rem + 20vw, 6rem);
  --gap-header: clamp(12rem, 100vw, 25rem);
  --button-SC-width: min(90vw, 700px);
  --adaptive-sizing-section-2: min(100vw, 700px);
  --fs-body: clamp(1rem, -0.5rem + 6.4vw, 1.25rem);
  --ff-project-name-goes-here: 'Segoe UI', tahoma, geneva, verdana, sans-serif, 'Poppins';
  --fs-project-name-goes-here: min(8vw, 70px);
  --margin-top-project-name-goes-here: clamp(1rem, 1rem + 0vw, 1rem);
  --margin-left-project-name-goes-here: clamp(1rem, 1rem + 0vw, 1rem);
  --margin-bottom-project-name-goes-here: clamp(1rem, -1.4rem + 10.24vw, 1.8rem);
  --font-size-languages: 4vw;
  --margin-bottom-languages: clamp(1rem, -1.4rem + 10.24vw, 1.8rem);
  --project-image-width: min(100vw, 700px);
  --languages-width: min(100vw, 700px);
  --see-this-project-width: min(80vw, 700px);
  --fs-see-this-project: clamp(1rem, -2rem + 12.8vw, 2rem);
  --color-boxes-title-font: 'Poppins', sans-serif;
  --color-boes-list-font: 'Poppins', sans-serif;
  --color-boxes-size: min(90vw, 700px);
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  gap: 55vw;
  margin-bottom: 2rem;
}

/* add media query to increase gap later */

.section-1 {
  position: relative;
}

h1 {
  font-family: var(--ff-headings);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-h1);
  line-height: 100%;
  color: #1a2236;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

p {
  left: 16px;
  top: 224px;
  font-family: var(--font-family-body);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-body);
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
  max-width: 180%;
}

.image-1 {
  width: 100vw;
  max-width: 800px;
  margin-bottom: 3rem;
}

.Start-collab {
  width: var(--button-SC-width);
  height: 50px;
  background-color: #1a2236;
  color: white;
  border-color: transparent;
  font-family: var(--font-family-body);
  font-size: clamp(1rem, -2rem + 12.8vw, 2rem);
  margin-left: 1rem;
  position: relative;
  margin-bottom: 3rem;
}

.Start-collab:hover {
  background-color: white;
  color: black;
  border-width: 1px;
  border-color: black;
}

.project-image {
  background-color: #000;
  width: var(--project-image-width);
}

.languages {
  width: var(--languages-width);
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.section-2 {
  margin-bottom: 3rem;
  display: grid;
}

h2 {
  color: #fff;
  font-family: var(--ff-project-name-goes-here);
  font-style: normal;
  font-weight: 300;
  font-size: var(--fs-project-name-goes-here);
  line-height: 80%;
  margin-left: var(--margin-left-project-name-goes-here);
  margin-top: var(--margin-top-project-name-goes-here);
  margin-bottom: var(--margin-bottom-project-name-goes-here);
}

.H-R-J {
  margin-left: 1rem;
  list-style: none;
  display: flex;
  margin-bottom: var(--margin-bottom-languages);
  gap: 0.5rem;
}

.Html-css {
  background-color: #98dede;
  font-family: var(--font-family-body);
  font-size: var(--font-size-languages);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.Ruby {
  background-color: #98dede;
  font-family: var(--font-family-body);
  font-size: var(--font-size-languages);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.Javascript {
  background-color: #98dede;
  font-family: var(--font-family-body);
  font-size: var(--font-size-languages);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.see-this-project {
  margin-left: 1rem;
  width: var(--see-this-project-width);
  height: 44px;
  border-color: #fff;
  background-color: #1a2236;
  color: #fff;
  font-size: var(--fs-see-this-project);
  margin-bottom: 1.5rem;
}

.see-this-project:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.section-3 {
  margin-bottom: 4.5rem;
}

.color-boxes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

.blue {
  margin-right: 1rem;
  width: var(--color-boxes-size);
  height: 289px;
  left: 16px;
  top: 3180px;
  background: #1c528a;
  margin-left: 1rem;
  background-image: url('images.svg/hash-tag.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 40%;
}

.red {
  margin-right: 1rem;
  width: var(--color-boxes-size);
  height: 289px;
  left: 16px;
  top: 3485px;
  background: #e2505c;
  margin-left: 1rem;
  background-image: url('images.svg/Group 18.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom right;
}

.yellow {
  margin-right: 1rem;
  height: 289px;
  width: var(--color-boxes-size);
  left: 15px;
  top: 3790px;
  background: #febf52;
  margin-left: 1rem;
  background-image: url('images.svg/ic_skills (2).svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 40%;
}

.color-boxes h3 {
  margin-left: 22.8%;
  position: relative;
  top: 4rem;
  color: #fff;
  font-family: var(--color-boxes-title-font);
}

.color-boxes ul {
  margin-left: 25%;
  margin-top: 6rem;
  color: #fff;
  font-family: var(--color-boes-list-font);
}

.section-4 {
  background-color: #f9f9fa;
  max-width: 100vw;
}

.top-left-2 {
  margin-bottom: 5rem;
}

.get-started {
  font-family: var(--ff-headings);
  font-style: normal;
  font-weight: 400;
  font-size: 15vw;
  line-height: 100%;
  color: #1a2236;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

input[type=text] {
  width: min(90vw, 700px);
  margin-left: 1rem;
  height: 52px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  position: relative;
}

input[type=text]::placeholder {
  font-family: var(--font-family-body);
  position: relative;
  left: 0.8rem;
  bottom: 0.5rem;
}

textarea {
  width: min(90vw, 700px);
  margin-left: 1rem;
  height: 112px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  position: relative;
}

textarea::placeholder {
  font-family: var(--font-family-body);
  position: relative;
  left: 0.8rem;
  top: 1rem;
}

form button {
  margin-left: 1rem;
  margin-right: 2rem;
  background-color: #1a2236;
  color: #fff;
  border-color: transparent;
  height: 50px;
  font-family: var(--font-family-body);
  width: min(90vw, 700px);
}

form button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  border-width: 1px;
}

footer {
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  position: relative;
}

.get-my-resume {
  width: 50vw;
  position: relative;
  top: 2.7rem;
  left: 4.3vw;
}

.media {
  display: flex;
  list-style: none;
  gap: 5vw;
  justify-content: space-around;
  top: 2vh;
  position: relative;
}

.media img {
  width: 5vw;
  margin-top: 5vh;
}
